nav {
  background: rgba(99, 98, 98, 0.3);
  width: max-content;
  display: block;
  position: fixed;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.95rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.7rem;
  border-radius: 50%;
  display: flex;
  color: #fca311;
  font-size: 1.29rem;
  transform: scale(1);
  transition: var(--transition);
}
nav a:hover {
  transform: scale(1.3);
  padding-top: 5px;
}

nav a.active {
  background: #fca21164;
  color: var(--color-white);
}

/* =================== MEDIA QUERIES FOR "Small DEVICES" ================= */

@media screen and (max-width: 600px) {
  nav {
    bottom: 4rem;
  }
}
