@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "Meteoric Light";
  src: url("./assets/fonts/Meteoric-light.otf");
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-black: #25232396;
  --color-space: #14213d;
  --color-yellow: #fca311;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-lg: 90%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--color-yellow);
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

body {
  font-family: "Meteoric Light";
  background: black;
  color: var(--color-white);
  line-height: 1.7;
  position: relative;
  background-image: url(./assets/spacebg.avif);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ======================  General Style ===================== */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

section {
  margin-top: 12rem;
}

section > h2,
section > h1,
section > h5,
section > h3 {
  text-align: center;
  color: var(--color-white);
}

section > h2,
section > h1 {
  color: var(--color-yellow);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-space);
  transition: var(--transition);
  letter-spacing: 1.1px;
  background: var(--color-space);
  transform: scale(1);
}

.btn:hover {
  background: transparent;
  color: var(--color-white);
  transform: scale(1.1);
  border-color: var(--color-yellow);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
  border: 1px solid var(--color-primary);
  color: #fff;
  font-weight: 400;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* =================== MEDIA QUERIES FOR "MEDIUM DEVICES" ================= */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* =================== MEDIA QUERIES FOR "SMALL DEVICES" ================= */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
